
<div id="center-menu">
<div class="menu1">
    <p>Appetizers</p>
    <table>
        <tr>
            <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>

        <tr>
                <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
                <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
                 <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
                <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>

      
    </table>
</div>


<div class="menu1">
    <p>Main Course</p>
    <table>
        <tr>
                <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>

        <tr>
                 <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
                <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
                 <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
               <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
    </table>
</div>


<div class="menu1">
    <p>Desserts</p>
    <table>
        <tr>
               <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>

        <tr>
                <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
               <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
                <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
        <tr>
                <td>Crispy Lotus Wheels Appetizer<br>Crispy lotus stems stir-fried with onions in a honey sauce.</td>
            <td>$8.00</td>
        </tr>
    </table>
</div>

<div class="menu1">
    <p>Drinks</p>
    <table>
        <tr><td>Coke
    </td>
            <td>$6.00</td>
        </tr>
        <tr>
            <td>Sprite</td>
            <td>$6.00</td>
        </tr>
        <tr>
            <td>Diet Coke</td>
            <td>$6.00</td>
        </tr>
        <tr>
            <td>A jungle blend of orange, pineapple, and cranberry juices mixed with pina colada.
                Tropical Triangle</td>
            <td>$6.00</td>
        </tr>
        <tr>
            <td>Thai Ice Tea   </td>
            <td>$6.00</td>
        </tr>

        <tr>
            <td> Combination of strawberry, banana, ice cream, and milk.
                Asian Jungle Juice </td>
            <td>$6.00</td>
        </tr>

        <tr>
            <td>Blended Thai tea topped with Half and Half and simple syrup.
            </td>
            <td>$6.00</td>
        </tr>
        <tr>
            <td>Combination of orange, pineapple, and cranberry juices mixed with pina colada.
            </td>
            <td>$6.00</td>
        </tr>
        <tr>
            <td>Nanking Delight</td>
            <td>$6.00</td>
        </tr>
        <tr>
            <td>Nanking Delight</td>
            <td>$6.00</td>
        </tr>

    </table>
</div>

</div>

