<h3>Modify Reservation</h3>
<hr>
<form class="create-form">
                   
                    <div class="form-group">
                        <label>Confirmation Number:</label>
                        <input type="text" id="confid" ng-model="resDetailVm.res.resId" 
                        class="form-control" placeholder="Confirmation Number" > <hr> 
                      <button class="btn btn-default"><a href="#/modifyres/{{resDetailVm.res.resId}}">Submit</a></button> 
  </div>
  </form>